
.container { 
  display: table;
  width:100%;  
  height:400px;
}

#loginbutton {    
  display: block;
  width: 50%;  
  margin: 0 auto;
  width:250px; 
}
        
.button-wrapper {
  display: table-cell;
  vertical-align: middle;
}
  
  